<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/about.css" />
</head>

<body>
<div class="general">
  {{>header}}
  <img src="./img/test.jpg" alt="not available" />
  {{>footer}}
</div>
  
</body>

</html>